{% set alert_info %}
<div class="alert alert-info">
    <i class="icon"  aria-hidden="true"></i>
    Dear sir I am informing you about something....
</div>
{% endset %}

{% set alert_notice %}
<div class="alert alert-notice">
    <i class="icon"  aria-hidden="true"></i>
    You must pay attention on what you are doing....
</div>
{% endset %}

{% set alert_stop %}
<div class="alert alert-stop">
    <i class="icon"></i>
    Stop doing do this....
</div>
{% endset %}

{% set alert_warning %}
<div class="alert alert-warning">
    Oh snap this is serious!!
</div>
{% endset %}

{% set alert_danger %}
<div class="alert alert-danger">
    Oh snap this is serious!!
</div>
{% endset %}

{% set alert_danger2 %}
<div class="alert alert-danger2">
    Oh snap this is serious!!
</div>
{% endset %}

<section id="alerts">
    <h1>Alerts</h1>

    <article>
        <h2>Alert Info</h2>
        <p>Use this to notify user about an important information</p>
        {{ alert_info|safe }}
        <div class="code-wrapper">
            <pre><code>{{ alert_info|escape|trim }}</code></pre>
        </div>
    </article>

    <article>
        <h2>Alert Notice</h2>
        <p>Notify user about something serious.</p>
        {{ alert_notice|safe }}
        <div class="code-wrapper">
            <pre><code>{{ alert_notice|escape|trim }}</code></pre>
        </div>
    </article>

    <article>
        <h2>Alert Stop</h2>
        <p>Notify user about a prohibiting action.</p>
        {{ alert_stop|safe }}
        <div class="code-wrapper">
            <pre><code>{{ alert_stop|escape|trim }}</code></pre>
        </div>
    </article>

    <article>
        <h2>Alert Warning</h2>
        <p>Ensure user pays attention.</p>
        {{ alert_warning|safe }}
        <div class="code-wrapper">
            <pre><code>{{ alert_warning|escape|trim }}</code></pre>
        </div>
    </article>

    <article>
        <h2>Alert Danger</h2>
        <h3>Blinking text</h3>
        {{ alert_danger|safe }}
        <div class="code-wrapper">
            <pre><code>{{ alert_danger|escape|trim }}</code></pre>
        </div>

        <h3>Blinking Background</h3>
        {{ alert_danger2|safe }}
        <div class="code-wrapper">
            <pre><code>{{ alert_danger2|escape|trim }}</code></pre>
        </div>
    </article>
</section>