<section id="codewrapper">
    <h1>CodeWrapper</h1>
    <article id="codewrapper-basic">
    <h2>Basic usage</h2>
    <p>If you want to place a piece of code into your documentation use:</p>
    <div class="code-wrapper">
        <div>
            <h5>HTML</h5>
            <button class="copy">COPY</button>
        </div>
        <pre>
            <code>
&lt;div class="code-wrapper"&gt;
    &lt;div&gt;
        &lt;h5&gt;HTML&lt;/h5&gt;
        &lt;button class="copy"&gt;COPY&lt;/button&gt;
    &lt;/div&gt;
    &lt;pre&gt;
        &lt;code&gt;
            Piece of code here            
        &lt;/code&gt;
    &lt;/pre&gt;
&lt;/div&gt;
            </code>
        </pre>
    </div>
    <p>The component also need to initialize the copy buttons, both js and esm supported:
    <div class="code-wrapper">
        <div>
            <h5>JS</h5>
            <div class="tab-button-container">
                <button class="btn-tab" role="tab" aria-selected="true" aria-controls="#codewrapper-init-js">JS</button>
                <button class="btn-tab" role="tab" aria-controls="#codewrapper-init-esm">ESM</button>
            </div>
            <button class="copy">COPY</button>
        </div>
        <pre id="codewrapper-init-esm">
            <code>
&lt;script type=\"module\"&gt;
    import { autoinit } from "/js/asciiart.esm.js"; 
    document.addEventListener("DOMContentLoaded",function(){
        autoinit.codewrapper()
    })
&lt;/script&gt;
            </code>
        </pre>
        <pre id="codewrapper-init-js">
            <code>
&lt;script type="application/javascript" src="/js/asciiart.min.js&gt;&lt;/script&gt;
&lt;script&gt;
    document.addEventListener("DOMContentLoaded",function(){
        AsciiartTheme.autoinit.codewrapper()
    })
&lt;/script&gt;
            </code>
        </pre>
    </div>
</p>
    <p>Otherwise you can use the <code>CodeWrapper</code> class, ideal for a single element, both js and esm supported:
    <div class="code-wrapper">
        <div>
            <h5>JS</h5>
            <div class="tab-button-container">
                <button class="btn-tab" role="tab" aria-selected="true" aria-controls="#codewrapper-class-js">JS</button>
                <button class="btn-tab" role="tab" aria-controls="#codewrapper-class-esm">ESM</button>
            </div>
            <button class="copy">COPY</button>
        </div>
        <pre id="codewrapper-class-esm" class="tab-code">
            <code>
&lt;script type=\"module\"&gt;
    import { CodeWrapper } from "/js/asciiart.esm.js"; 
    document.addEventListener("DOMContentLoaded",function(){
        new CodeWrapper("#mycontainer")
    })
&lt;/script&gt;
            </code>
        </pre>
        <pre id="codewrapper-class-js" class="tab-code">
            <code>
&lt;script type="application/javascript" src="/js/asciiart.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
    document.addEventListener("DOMContentLoaded",function(){
        new AsciiartTheme.CodeWrapper("#mycontainer")
    })
&lt;/script&gt;
            </code>
        </pre>
    </div>
    </p>
</article>
<article id="codewrapper-tabs">
    <h2>Tabs</h2>
    <p>
        In case thay you need to show variations (eg. on how could a package be installed) codewrapper supports tabs as well:
        <div class="code-wrapper">
            <div>
                <h5>HTML</h5>
                <button class="copy">COPY</button>
            </div>
        <pre>
            <code>
&lt;div class="code-wrapper"&gt;
    &lt;div&gt;
        &lt;h5&gt;Installation Instructions&lt;/h5&gt;
        &lt;div class="tab-button-container"&gt;
                &lt;button class="btn-tab" role="tab" aria-selected="true" aria-controls="#windows">Windows&lt;/button&gt;
                &lt;button class="btn-tab" role="tab" aria-controls="#linux">Linux&lt;/button&gt;
        &lt;/div&gt;
        &lt;button class="copy"&gt;COPY&lt;/button&gt;
    &lt;/div&gt;
    &lt;pre id="windows"&gt;
        &lt;code&gt;
            windows installation            
        &lt;/code&gt;
    &lt;/pre&gt;
    &lt;pre id="linux"&gt;
        &lt;code&gt;
            linux installation            
        &lt;/code&gt;
    &lt;/pre&gt;
&lt;/div&gt;
            </code>
        </pre>
    </div>
</p>
<p>
    Tabs can lead the title as well:
    <div class="code-wrapper">
        <div>
            <h5>HTML</h5>
            <button class="copy">COPY</button>
        </div>
        <pre>
            <code>
&lt;div class="code-wrapper"&gt;
    &lt;div&gt;
        &lt;div class="tab-button-container"&gt;
                &lt;button class="btn-tab" role="tab" aria-selected="true" aria-controls="#windows">Windows&lt;/button&gt;
                &lt;button class="btn-tab" role="tab" aria-controls="#linux">Linux&lt;/button&gt;
        &lt;/div&gt;
        &lt;h5&gt;Installation Instructions&lt;/h5&gt;
        &lt;button class="copy"&gt;COPY&lt;/button&gt;
    &lt;/div&gt;
    &lt;pre id="windows"&gt;
        &lt;code&gt;
            windows installation            
        &lt;/code&gt;
    &lt;/pre&gt;
    &lt;pre id="linux"&gt;
        &lt;code&gt;
            linux installation            
        &lt;/code&gt;
    &lt;/pre&gt;
&lt;/div&gt;
            </code>
        </pre>
    </div>
</p>
</article>
<article id="#codewrapper-links">
    <h2>Links</h2>
    <p>
        You can use the class <code>button</code> upon a link in case you want to add extra links eg. html preview links:
        <div class="code-wrapper">
            <div>
                <h5>HTML</h5>
                <button class="copy">COPY</button>
            </div>
            <pre><code>
&lt;div class="code-wrapper"&gt;
    &lt;div&gt;
        &lt;h5&gt;Demo&lt;/h5&gt;
        &lt;a href="#"&gt;Preview&lt;a&gt;
        &lt;button class="copy"&gt;COPY&lt;/button&gt;
    &lt;/div&gt;
    &lt;pre&gt;
        &lt;code&gt;
            soime code here....  
        &lt;/code&gt;
    &lt;/pre&gt;
&lt;/div&gt;
            </code></pre>
        </div>
    </p>
</article>
</section>