{% set basic_navbar %}
<div class="nav-wrapper">
    <nav class="main-nav">
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
        <a href="#">Item 3</a>
    </nav>
</div>
{% endset %}


{% set sticky_navbar %}
<div class="nav-wrapper sticky-top">
    <nav class="main-nav">
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
        <a href="#">Item 3</a>
    </nav>
</div>
{% endset %}

{% set leading_elements %}
<div class="nav-wrapper sticky-top">
    <div class="lead">
        <button>*</button>
    </div>
    <nav class="main-nav">
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
        <a href="#">Item 3</a>
    </nav>
</div>
{% endset %}

{% set highlight %}
<div class="nav-wrapper sticky-top">
    <nav class="main-nav">
        <a class="active" href="#">Item 1</a>
        <a href="#">Item 2</a>
        <a href="#">Item 3</a>
    </nav>
</div>
{% endset %}


<section id="navbar">
    <h1>Navbar</h1>
    <article id="navbar-basic">
        <h2>Basic usage</h2>
        <p>Use for main navigation </p>
        <div class="nav-wrapper" style="z-index:0;">
            <nav class="main-nav">
                <a href="#">Item 1</a>
                <a href="#">Item 2</a>
                <a href="#">Item 3</a>
            </nav>
        </div>
        <p>Code:</p>
        <div class="code-wrapper">
            <div>
                <span>HTML</span>
                <button class="copy">COPY</button>
            </div>
            <pre><code>{{ basic_navbar | escape | trim }}</code></pre>
        </div>
    </article>
    <article id="navbar-sticky">
        <h2>Sticky Navbar</h2>
        <p>If you want the navbar to stick on top of thew screen use <code>sticky-top</code> class:</p>
        <div class="code-wrapper">
            <div>
                <span>HTML</span>
                <button class="copy">COPY</button>
            </div>
            <pre><code>{{ sticky_navbar | escape | trim }}</code></pre>
        </div>
    </article>
    <article id="navbar-controls">
        <h2>Leading Elements</h2>
        <p>You can use <code>lead</code> class in order to place buttons or icons in front of main navigation:</p>
        <div class="nav-wrapper" style="z-index:0;">
            <div class="lead"><span>*</span></div>
            <nav class="main-nav">
                <a href="#">Item 1</a>
                <a href="#">Item 2</a>
                <a href="#">Item 3</a>
            </nav>
        </div>
         <div class="code-wrapper">
            <div>
                <span>HTML</span>
                <button class="copy">COPY</button>
            </div>
            <pre><code> {{leading_elements | escape | trim }}</code></pre>
        </div>
    </article>
    <article id="navbar-highlight">
        <h2>Highlight Item</h2>
        <div class="nav-wrapper sticky-top" style="z-index:0;">
            <nav class="main-nav">
                <a class="active" href="#">Item 1</a>
                <a href="#">Item 2</a>
                <a href="#">Item 3</a>
            </nav>
        </div>
        <p>Using the class <code>active</code> you can hilight an active element indicating current visited page:</p>
        <div class="code-wrapper">
            <div>
                <span>HTML</span>
                <button class="copy">COPY</button>
            </div>
            <pre><code>{{highlight|escape|trim}} </code></pre>
        </div>
    </article>
</section>
