{% set treemenu %}
<ul class="treemenu">
                <li><a href="#">Typography</a></li>
                <li><a href="#">Tables</a></li>
                <li data-visible="true">
                    <button aria-expanded="false">Navbar</button>
                    <ul>
                        <li><a href="#">Basic Usage</a></li>
                        <li><a href="#">Sticky Top</a></li>
                        <li><a href="#">Leading Elements</a></li>
                    </ul>
                </li>
                <li><a href="#">Alerts</a></li>
                <li><button aria-expanded="false">Codewrapper</button>
                    <ul>
                        <li><a href="#">Basic usage</a></li>
                        <li><a href="#">Tabs</a></li>
                    </ul>
                </li>
                <li><a href="#">Treemenu</a></li>
            </ul>
{% endset %}

{% set tree %}
<ul class="tree">
                <li>Item</li>
                <li>Item</li>
                <li data-visible="true">
                    <span>Item with nested Items</span>
                    <ul>
                        <li><span>Nested Item 1</span></li>
                        <li><span>Nested Item with nested Items</span>
                             <ul>
                                <li>Nested Item 1</li>
                                <li>Nested Item 2</li>
                            </ul>
                        </li>
                        <li>Nested Item 3</li>
                    </ul>
                </li>
            </ul>
{% endset %}

{% set autoinitJS %}
<script src="/js/asciiart.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded",function(){
        AsciiartTheme.autoinit.treemenu()
    })
</script>
{% endset %}

{% set autoinitESM %}
<script type="module">
    import { autoinit } from "/js/asciiart.esm.js"; 
    document.addEventListener("DOMContentLoaded",function(){
        autoinit.treemenu()
    })
</script>
{% endset %}

<section id="tree">
    <h1>Simple Tree</h1>
     <article>
        <h2>Preview</h2>
            {{tree|safe}}
    </article>
    <article>
        <h2>Usage</h2>
        <p>In case you want to simply display a list in a form of tree use <code>tree</code> class instead. Javascript ignores this class:
         <div class="code-wrapper">
                <div>
                    <span>HTML Code</span>
                    <button class="copy">Copy</button>
                </div>
                <pre><code>{{tree|escape|trim}}</code></pre>
            </div>    
        </p>
    </article>
</section>

<section id="treemenu">
    <h1>Treemenu</h1>
    <article>
        <h2>Preview</h2>
        <div>
            {{treemenu|safe}}
        </div>
        
    </article>
    <article>
        <h2>Usage</h2>
        <p> Tree menu is an ideal way to represent navigation whilst retaining a nice, retro look. In order to work you need to initialize html:
            <div class="code-wrapper">
                <div>
                    <span>HTML Code</span>
                    <button class="copy">Copy</button>
                </div>
                <pre><code>{{treemenu|escape|trim}}</code></pre>
            </div>    
        </p>
        <p>
            Beyond html it also needs to be initialized via Javascript:
             <div class="code-wrapper">
                <div>
                    <span>JS Code</span>
                    <div class="tab-button-container">
                        <button class="btn-tab" role="tab" aria-selected="true" aria-controls="#treemenu-js">JS</button>
                        <button class="btn-tab" role="tab" aria-controls="#treemenu-esm">ESM</button>
                    </div>
                    <button class="copy">Copy</button>
                </div>
                <pre id="treemenu-js"><code>{{autoinitJS|escape|trim}}</code></pre>
                <pre id="treemenu-esm"><code>{{autoinitESM|escape|trim}}</code></pre>
            </div>    
        </p>
    </article>
</section>