<section id="treemenu">
    <h1>Treemenu</h1>
    <article>
        <h2>Preview</h2>
        <div>
            <ul class="treemenu">
                <li><a href="#">Typography</a></li>
                <li><a href="#">Tables</a></li>
                <li data-visible="true">
                    <button aria-expanded="false">Navbar</button>
                    <ul>
                        <li><a href="#">Basic Usage</a></li>
                        <li><a href="#">Sticky Top</a></li>
                        <li><a href="#">Leading Elements</a></li>
                    </ul>
                </li>
                <li><a href="#">Alerts</a></li>
                <li><button aria-expanded="false">Codewrapper</button>
                    <ul>
                        <li><a href="#">Basic usage</a></li>
                        <li><a href="#">Tabs</a></li>
                    </ul>
                </li>
                <li><a href="#">Treemenu</a></li>
            </ul>
        </div>
        <p> Tree menu is an ideal way to represent navigation whilst retaining a nice, retro look. In order to work you need to initialize html</p>
    </article>
</section>