<section id="typography">
<h1>Typograhpy</h1>
    <article>
        <h2>Headers</h2>
        <div class="code-wrapper">
            <pre>
                <h1>h1. Header 1</h1>
                <h2>h2. Header 2</h2>
                <h3>h3. Header 3</h3>
                <h4>h4. Header 4</h4>
                <h5>h5. Header 5</h5>
                <h6>h6. Header 6</h6>
            </pre>
        </div>
    </article>
    <article>
        <h2>Paragraphs</h2>
        <p>Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.</p>
    </article>
    <article>
        <h2>Links</h2>
        <p>This is a normal <a href="#">link</a></p>
        <p> 
            This is a link styled as button <a href="#" class="button">link</a><br>
            Use class <code>button</code> to style it:
            <div class="code-wrapper">
                <pre><code>&lt;a href="#" class="button"&gt;link&lt;/a&gt;</code></pre>
            </div>
        </p>
    </article>
    <article>
        <h2>Lists</h2>
        <section>
            <h3>Unordered List</h3>
            <ul>
                <li>Item 1</li>
                <l1>Item 2</l1>
                <li>Item 3</li>
            </ul>
        </section>
        <section>
            <h3>Ordered List</h3>
            <ol>
                <li>Item 1</li>
                <l1>Item 2</l1>
                <li>Item 3</li>
            </ol>
        </section>
        <section>
            <h3>Inline list</h3>
            <p>Using class <code>.inline</code> upon a <code>ul</code> class in order to display a list as inline:</p>
            <ul class="inline">
                <li>Item 1</li>
                <l1>Item 2</l1>
                <li>Item 3</li>
            </ul>
        </section>
        <section>
            <h3>Inline with commas</h3>
            <p>Using class <code>.inline-comma</code> upon a <code>ul</code> class in order to display a list as inline:</p>
            <ul class="inline-comma">
                <li>Item 1</li>
                <l1>Item 2</l1>
                <li>Item 3</li>
            </ul>
        </section>
    </article>
</section>