
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AsciiArt Theme - Layout Documentation</title>

  <!-- SCSS compiled CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <script type="application/javascript" src="/js/asciiart.min.js"></script>
  <script type="application/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      new AsciiartTheme.Sidebar("#sidebar");
    });      
  </script>
  
    <script type="application/javascript" src="/js/asciiart.min.js"></script>
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            // Initialize the Sidebar component
            new AsciiartTheme.Sidebar("#sidebar");
            new AsciiartTheme.Treemenu(".treemenu");
        });
    </script>

</head>
<body class="sidebar-layout">
  <div id="sidebar" class="aside-wrapper-fullheight">
    <button class="button-close" data-control-element="#sidebar"></button>
    
  <header class="banner">
   <pre>
  ___           _ _  ___       _   
 / _ \         (_|_)/ _ \     | |  
/ /_\ \___  ___ _ _/ /_\ \_ __| |_ 
|  _  / __|/ __| | |  _  | '__| __|
| | | \__ \ (__| | | | | | |  | |_ 
\_| |_/___/\___|_|_\_| |_/_|   \__|
    </pre>
</header>



    <aside>
      <nav aria-label="Sidebar navigation">
        
<ul class="treemenu">
    <li><a href="">About</a></li>
    <li data-visible="true">
        <button aria-expanded="false">Layouts</button>
        <ul>
            <li><a href="#no-sidebar">No Sidebar</a></li>
            <li><a href="#full">Sidebar Full</a></li>
            <li><a href="#base-sidebar">Sidebar upon content</a></li>
        </ul>
    </li>
</ul>

      </nav>
    </aside>

    
    <footer>
      Copyright Dimitrios Desyllas
    </footer>

  </div>

  <div class="main-wrapper">
    <div class="nav-wrapper sticky-top">
        <div class="lead">
          <button role="button" 
            class="button-expand button-toggle" 
            data-control-element="#sidebar"
          ></button>
        </div>
        <nav class="main-nav">
  <a href="/">Index</a>
  <a href="/setup.html">Setup</a>
  <a href="/layouts">Layouts</a>
  <a href="/components">Components</a>
</nav>
    </div>

    <main>
        

<section id="about">
    <h1>About</h1>
    <p>
        The AsciiArt theme supports three primary layouts:
    </p>
    <ul>
        <li>No Sidebar <a href="/layouts/demos/no-sidebar.html" class="button" target="_blank">Demo</a></li>
        <li>Sidebar Full – Sidebar with header upon aside. <a href="/layouts/demos/sidebar-full.html" class="button" target="_blank">Demo</a></li>
        <li>Sidebar upon content <a href="/layouts/demos/base-sidebar.html" class="button" target="_blank">Demo</a></li>
    </ul>
</section>





<section id="no-sidebar">
    <h1>No sidebar</h1>
    <p>This is the most basic layout containing a basic header,navigation and content. No bells no whistles.</p>
    <h2>Html Example</h2>
    <p>Using this content you can generate the most basic html.</p>
    <div class="code-wrapper">
        <div>
            <h5>HTML Code</h5>
            <a href="/layouts/demos/no-sidebar.html" class="button" target="_blank">Preview</a>
            <button class="copy">Copy</button>
        </div>
        <pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
  &lt;title&gt;AsciiArt Theme - No sidebar demo&lt;/title&gt;

  &lt;!-- SCSS compiled CSS --&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;/css/style.css&quot;&gt;
  
&lt;/head&gt;
&lt;body&gt;
  &lt;header&gt;
    
  &lt;header class=&quot;banner&quot;&gt;
   &lt;pre&gt;
  ___           _ _  ___       _   
 / _ &#92;         (_|_)/ _ &#92;     | |  
/ /_&#92; &#92;___  ___ _ _/ /_&#92; &#92;_ __| |_ 
|  _  / __|/ __| | |  _  | &#39;__| __|
| | | &#92;__ &#92; (__| | | | | | |  | |_ 
&#92;_| |_/___/&#92;___|_|_&#92;_| |_/_|   &#92;__|
    &lt;/pre&gt;
&lt;/header&gt;


  &lt;/header&gt;

  &lt;main&gt;
    
    &lt;!-- Main content place text, forms or anything else here --&gt;
    &lt;section&gt;
    &lt;h1&gt;Article 1&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h1&gt;Article 2&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h1&gt;Article 3&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;


&lt;section&gt;
    &lt;h1&gt;Article 4&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h1&gt;Article 5&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

  &lt;/main&gt;

  
&lt;/body&gt;
&lt;/html&gt;</code></pre>
    </div>
    <p>As you notice you need to include the css file. No javascript required.</p>
    <div class="code-wrapper">
        <div><h5>CSS</h5><button class="copy">Copy</button></div>
        <pre><code>
&lt;link rel=&quot;stylesheet&quot; href=&quot;css/style.css&quot;&gt;
</code></pre>
    </div>
</section>
<hr>








<section id="full">
    <h1>Sidebar Full Layout</h1>
    <p>
        A page containing sidebar taking over the whole page height.<br>The main navigation rests next to sidebar whereas the content rests underenath it.
    </p>
    <p>
        Upon small screen or upon window resizing sidebar moves offcanvas allowing the user to focus on content.
    </p>
    <h2>HTML Example</h2>
    <div class="code-wrapper">
        <div>
            <h5>HTML Code</h5>
            <a href="/layouts/demos/sidebar-full.html" class="button" target="_blank">Preview</a>
            <button class="copy">Copy</button>
        </div>
        <pre><code>
    
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
  &lt;title&gt;Default Title&lt;/title&gt;

  &lt;!-- SCSS compiled CSS --&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;/css/style.css&quot;&gt;
  &lt;script type=&quot;application/javascript&quot; src=&quot;/js/asciiart.min.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;application/javascript&quot;&gt;
    document.addEventListener(&quot;DOMContentLoaded&quot;, () =&gt; {
      new AsciiartTheme.Sidebar(&quot;#sidebar&quot;);
    });      
  &lt;/script&gt;
  
&lt;/head&gt;
&lt;body class=&quot;sidebar-layout&quot;&gt;
  &lt;div id=&quot;sidebar&quot; class=&quot;aside-wrapper-fullheight&quot;&gt;
    &lt;button class=&quot;button-close&quot; data-control-element=&quot;#sidebar&quot;&gt;&lt;/button&gt;
    

    &lt;aside&gt;
      &lt;nav aria-label=&quot;Sidebar navigation&quot;&gt;
        
Sidebar content Here could place menus or navigation links.

      &lt;/nav&gt;
    &lt;/aside&gt;

    
  &lt;/div&gt;

  &lt;div class=&quot;main-wrapper&quot;&gt;
    &lt;div class=&quot;nav-wrapper sticky-top&quot;&gt;
        &lt;div class=&quot;lead&quot;&gt;
          &lt;button role=&quot;button&quot; 
            class=&quot;button-expand button-toggle&quot; 
            data-control-element=&quot;#sidebar&quot;
          &gt;&lt;/button&gt;
        &lt;/div&gt;
        &lt;nav class=&quot;main-nav&quot;&gt;
  &lt;a href=&quot;/&quot;&gt;Index&lt;/a&gt;
  &lt;a href=&quot;/setup.html&quot;&gt;Setup&lt;/a&gt;
  &lt;a href=&quot;/layouts&quot;&gt;Layouts&lt;/a&gt;
  &lt;a href=&quot;/components&quot;&gt;Components&lt;/a&gt;
&lt;/nav&gt;
    &lt;/div&gt;

    &lt;main&gt;
        
    &lt;!-- Main content place text, forms or anything else here --&gt;
    &lt;section&gt;
    &lt;h1&gt;Article 1&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h1&gt;Article 2&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h1&gt;Article 3&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;


&lt;section&gt;
    &lt;h1&gt;Article 4&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h1&gt;Article 5&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

    &lt;/main&gt;
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
    </div>

    <p>
        To use this layout, first include the theme's CSS:
    </p>
    <div class="code-wrapper">
        <div><h5>CSS</h5><button class="copy">Copy</button></div>
        <pre><code>
&lt;link rel=&quot;stylesheet&quot; href=&quot;css/style.css&quot;&gt;
</code></pre>
    </div>

    <p>
        Then include the JavaScript file and initialize the Sidebar. Note that the JavaScript does <strong>not</strong> initialize automatically—you must explicitly create a new Sidebar instance:
    </p>
    <div class="code-wrapper">
        <div><h5>JavaScript</h5><button class="copy">Copy</button></div>
        <pre><code>
&lt;script type=&quot;application/javascript&quot; src=&quot;/js/asciiart.min.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;application/javascript&quot;&gt;
    document.addEventListener(&quot;DOMContentLoaded&quot;, () =&gt; {
        // Initialize the Sidebar component
        new AsciiartTheme.Sidebar(&quot;#sidebar&quot;);
    });
&lt;/script&gt;
</code></pre>
    </div>

    <p>
        Alternatively, you can use an ES6 module to import and initialize the Sidebar component:
    </p>
    <div class="code-wrapper">
        <div><h5>ES6 Module</h5><button class="copy">Copy</button></div>
        <pre><code>
&lt;script type=&quot;component&quot;&gt;
    import { Sidebar } from &quot;js/asciiart.esm.min.js&quot;;

    document.addEventListener(&quot;DOMContentLoaded&quot;, () =&gt; {
        // Initialize the Sidebar using ES6 module
        new Sidebar(&quot;#sidebar&quot;);
    });
&lt;/script&gt;
</code></pre>
    </div>
</section>
<hr>








<section id="base-sidebar">
    <h1>Sidebar upon content</h1>
    <p>An extension of no-sidebar layout is to place underneath the main navigation a sidebar. <br>This is useful for placing a secondary navigation upon main content.</p>
    <p>When browser window shinks it becomes hidden allowing you to focus upon main content.</p>
    <h2>Html Example</h2>
    <p>Using this content you can generate the most basic html.</p>
    <div class="code-wrapper">
        <div>
            <h5>HTML Code</h5>
            <a href="/layouts/demos/base-sidebar.html" class="button" target="_blank">Preview</a>
            <button class="copy">Copy</button>
        </div>
        <pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
  &lt;title&gt;Aciiiart Theme Demo&lt;/title&gt;

  &lt;!-- SCSS compiled CSS --&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;/css/style.css&quot;&gt;
  &lt;script type=&quot;application/javascript&quot; src=&quot;/js/asciiart.min.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;application/javascript&quot;&gt;
    document.addEventListener(&quot;DOMContentLoaded&quot;, () =&gt; {
      new AsciiartTheme.Sidebar(&quot;#sidebar&quot;);
    });      
  &lt;/script&gt;
  
    

&lt;/head&gt;
&lt;body&gt;
  &lt;div class=&quot;top-left-responsive&quot;&gt;
     &lt;button role=&quot;button&quot; 
        class=&quot;button-expand button-toggle&quot; 
        data-control-element=&quot;#sidebar&quot;
      &gt;&lt;/button&gt;
  &lt;/div&gt;

  &lt;header&gt;
    
  &lt;header class=&quot;banner&quot;&gt;
   &lt;pre&gt;
  ___           _ _  ___       _   
 / _ &#92;         (_|_)/ _ &#92;     | |  
/ /_&#92; &#92;___  ___ _ _/ /_&#92; &#92;_ __| |_ 
|  _  / __|/ __| | |  _  | &#39;__| __|
| | | &#92;__ &#92; (__| | | | | | |  | |_ 
&#92;_| |_/___/&#92;___|_|_&#92;_| |_/_|   &#92;__|
    &lt;/pre&gt;
&lt;/header&gt;


  &lt;/header&gt;

  &lt;div class=&quot;nav-wrapper sticky-top&quot;&gt;
    
    &lt;nav class=&quot;main-nav&quot;&gt;
  &lt;a href=&quot;#&quot;&gt;Index&lt;/a&gt;
  &lt;a href=&quot;#&quot;&gt;Page&lt;/a&gt;
  &lt;a href=&quot;#&quot;&gt;Another page&lt;/a&gt;
  &lt;a href=&quot;#&quot;&gt;Yet another page&lt;/a&gt;
&lt;/nav&gt;

  &lt;/div&gt;

  &lt;div class=&quot;sidebar-layout&quot;&gt;
    &lt;div class=&quot;aside-wrapper&quot; id=&quot;sidebar&quot;&gt;
      &lt;button class=&quot;button-close&quot; data-control-element=&quot;#sidebar&quot;&gt;&lt;/button&gt;
      &lt;aside&gt;
        &lt;nav aria-label=&quot;Sidebar navigation&quot;&gt;
            
Sidebar content Here could place menus or navigation links.

        &lt;/nav&gt;
      &lt;/aside&gt;
    &lt;/div&gt;

    &lt;div class=&quot;main-wrapper&quot;&gt;
      &lt;main&gt;
        
    &lt;!-- Main content place text, forms or anything else here --&gt;
    &lt;section&gt;
    &lt;h1&gt;Article 1&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h1&gt;Article 2&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h1&gt;Article 3&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;


&lt;section&gt;
    &lt;h1&gt;Article 4&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h1&gt;Article 5&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

      &lt;/main&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
    </div>
    <p>As you notice you need to include the css file.</p>
    <div class="code-wrapper">
        <div><h5>CSS</h5><button class="copy">Copy</button></div>
        <pre><code>
&lt;link rel=&quot;stylesheet&quot; href=&quot;/css/style.css&quot;&gt;
</code></pre>
    </div>
    <p>furthermore you need to include the theme's javascript file and initialize the sidebar. Automatic initialization not supported.</p>
    <div class="code-wrapper">
        <div><h5>Javascript</h5><button class="copy">Copy</button></div>
        <pre><code>
&lt;script type=&quot;application/javascript&quot; src=&quot;/js/asciiart.min.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;application/javascript&quot;&gt;
    document.addEventListener(&quot;DOMContentLoaded&quot;, () =&gt; {
        // Initialize the Sidebar component
        new AsciiartTheme.Sidebar(&quot;#sidebar&quot;);
    });
&lt;/script&gt;
</code></pre>
    </div>
    <p>
        Alternatively, you can use an ES6 module to import and initialize the Sidebar component:
    </p>
    <div class="code-wrapper">
        <div><h5>ES6 Module</h5><button class="copy">Copy</button></div>
        <pre><code>
&lt;script type=&quot;component&quot;&gt;
    import { Sidebar } from &quot;js/asciiart.esm.min.js&quot;;

    document.addEventListener(&quot;DOMContentLoaded&quot;, () =&gt; {
        // Initialize the Sidebar using ES6 module
        new Sidebar(&quot;#sidebar&quot;);
    });
&lt;/script&gt;
</code></pre>
    </div>
</section>


    </main>
  </div>
</body>
</html>