# Define the registry for your scope
@pc-magas:registry=https://gitlab.com/api/v4/projects/80429178/packages/npm/

# Set the authentication token
//gitlab.com/api/v4/projects/80429178/packages/npm/:_authToken="${GITLAB_TOKEN}"