button {
    background-color: var(--color-button-bg);
    color: var(--color-button-fe);
    text-align: center;
    text-decoration: none;
    border: none;
    text-decoration: bold;

    &::before {
        content: "[";
    }

    &::after {
        content: "]";
    }

}

button:hover {
    background-color: var(--color-hover-bg);
    color: var(--color-hover-fe);
}

.button-expand {
    width: 100%;
    height: 100%;
    margin: 0px;
}


.button-toggle {

  &[data-element-hidden="true"]::after {
    content: ">" !important; // override when false
  }

  &::after {
     content: "<";
  }

  &::before {
    content:""
  }


    @media screen and (max-width: 1020px) {
        &[data-element-hidden="true"]::after {
            content: "-" !important; // override when false
        }

        &::after {
            content: "+";
        }
    }
}

.button-close {
  width: 2em;
  height: 2em;
  font-size: 2em;
  z-index: 9999999;
  float: right;
  margin-left: calc(100% - 2em);
  padding: 1px;
  &::after {
     content: "X]";
  }

  &::before {
    content:"["
  }
}