@use '../color/_color';

.code-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px dashed var(--color-fe);

    div {
        font-size: 1.2rem;
        height: 1.4rem;
        background-color: var(--color-fe);
        color: var(--color-bg) !important;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button::before{
          text-transform: capitalize;
        }

        // In your .code-wrapper div block
        .copy, .button {
            /* Reset defaults */
            appearance: none;
            background: transparent;
            border: none;
            margin: 0;
            text-transform: capitalize;

            /* Ensure typography matches */
            font-family: inherit;
            font-size: 1rem;
            line-height: 1.4rem; // Match the parent div height
            color: inherit;      // Inherit the color-bg from parent div
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            order: 99;
            flex-shrink: 4;
            font-weight: normal;
            width: 7%;
            cursor: pointer;
        }

        h5 {
            flex-grow: 4;
            padding-right:3px;
            padding-left: 3px;
        }
    }
    pre {
        width: 100%;
        padding: 0;
        max-height: 1000px;
        overflow-y: scroll;
        code {
            margin: 0;
            font-size: 1.1rem;
        }
    }
}