@use '../color/_color';

$navPadding:15px;
$smallPadding:3px;

:root {
  --nav-height: 54px;
}

.bellow-nav {
  top: calc( var(--nav-height) + 3px);

  &.fullheight {
    
  }
}

.main-nav {
  display: flex;
  justify-content: center;
  border: 1px dashed var(--color-border);
  background-color: var(--color-bg);
  flex-wrap: nowrap;

  a {
    padding-top: $navPadding;

    text-align: center;
    flex-grow: 1;
    
    @media screen and (max-width: 640px) {
      font-size: 0.9rem;
    }

    &:hover {
      background-color: var(--color-hover-bg);
      color: var(--color-hover-fe);
    }

    &.active {
      background-color: var(--color-fe);
      color: var(--color-bg);
    }
  }

  @media screen and (max-width: 640px) {
    justify-content: space-evenly;
  }
}

.nav-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px dashed var(--color-border);
  background-color: var(--color-bg);
  align-items: stretch;
  height: var(--nav-height);

  .main-nav {
    flex-grow: 3;
  }

  .lead {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 2rem;

    * {
      padding-top: $navPadding;
      padding-bottom: $navPadding;
      margin:auto;
      flex-grow: 1;
      text-align: center;
    }
  }

  button {
    font-weight: bold;
  }

  @media print {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .main-nav {
    overflow-x: scroll;
    * {
      padding: $smallPadding;
    }
  }
}
