.main-nav {
  display: flex;
  justify-content: center;
  border: 1px dashed var(--color-border);
  background-color: var(--color-bg);
  flex-wrap: nowrap;

  a:hover {
    background-color: var(--color-hover-bg);
    color: var(--color-hover-fe);
  }

  a {
    padding: 15px;
    text-align: center;
  }
}

.nav-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px dashed var(--color-border);
  background-color: var(--color-bg);
  align-items: stretch;

  .main-nav {
    border: none !important;
    outline: none !important;
    flex-grow: 3;
    height: 100%;
  }

  .lead {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    height: 100%;
   
    * {
      padding-top: 15px;
      padding-bottom: 15px;
      margin:auto;
    }
  }

  button {
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .main-nav {
    overflow-x: scroll;
    *{
      padding: 3px;
    }
  }
}

@media print {
  .main-nav {
    display: none;
  }
}