table {
    border-collapse: collapse;
}

thead {
    background-color: var(--head-color-bg);
    color: var(--head-color-fe);
    margin: 0 auto;
}

td,th {
    padding: 6px 12px;
}

tfoot {
    td,th {
        border: 1px dashed var(--color-border);
    }
}