@use '../color/_color';

.treemenu {
  list-style: none;
  ul {
    list-style: none;
    padding-left: 20px;
  }

  li {
    position: relative;
    padding-left: 10px;

    &::before {
      content: "├─";
      position: absolute;
      left: -20px;
    }

    &:has(> ul) {
      padding-left: 20px;

      &::before {
        content: "└─[-]";
      }

      &[data-visible="false"]{
        ul {
          display:none;
        }

        &::before {
          content: "├─[+]";
        }
      }
    }

    &:last-child {
      &::before {
        content: "└─";

      }

      &:has(> ul){
        &::before {
          content: "└─[-]";
        }

        &[data-visible="false"]{
          &::before {
            content: "└─[+]";
          }
        }
      }
    }

    a,button {
      text-decoration: none;
      font-weight: bold;
      margin: 0.1 rem;
      text-align: center;

      &::before {
        content: "";
      }
      
      &::after {
        content: "";
      }

      &:hover {
        background-color: var(--color-fe);
        color: var(--color-bg);
      }
    }
  }  
}