
.treemenu {
  list-style: none;
  ul {
    list-style: none;
    padding-left: 20px;
  }

  li {
    position: relative;
    padding-left: 10px;
    margin: 4px 0;

    &::before {
      content: "├─";
      position: absolute;
      left: -20px;
    }

    &:has(> ul) {
      padding-left: 20px;
    }

    &:last-child::before {
      content: "└─";
    }

    &:has(> ul)::before {
      content: "├─ +" !important;
    }


    &:last-child:has(> ul)::before {
      content: "└─ +" !important;
    }
  }  
}