
.treemenu {
  list-style: none;
  ul {
    list-style: none;
    padding-left: 20px;
  }

  li {
    position: relative;
    padding-left: 10px;
    margin: 4px 0;
  }

  li:first-child::before {
    content:"+"
  }

  li::before {
    content: "├─";
    position: absolute;
    left: -20px;
  }

  li:last-child::before {
    content: "└─";
  }
}