{% set active_page = 'components' %}
{% extends 'base/base-sidebar-full.html' %}

{% block title %}AsciiArt Theme - Setup{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded",function(){
            AsciiartTheme.autoinit.codewrapper()
            AsciiartTheme.autoinit.treemenu()                
        })

        function changeColor(button){
            const value=button.value
            console.log("Buttion CLicked",value)

            const classes = [
                "color-amber",
                "color-green",
                "color-dos",
                "color-paper"
            ]
                
            classes.forEach((className)=>document.querySelector("body").classList.remove(className))

            const classMap = {
                "blue":"color-dos",
                "amber":"color-amber",
                "green":"color-green",
                "tone-down":"color-black-tone-down",
                "paper":"color-paper"
            }
            console.log(classMap[value])
            if(classMap[value]){
                document.querySelector("body").classList.add(classMap[value])
            }
        }

    </script>
{% endblock %}

{% block sidebar %}
<ul class="treemenu">
    <li><a href="#typography">Typography</a></li>
    <li><a href="#tables">Tables</a></li>
    <li><a href="#colors">Colors</a></li>
    <li><a href="#dl">Description List</a></li>
    <li><a href="#alerts">Alerts</a></li>
    <li data-visible="true">
        <button aria-expanded="false">Navbar</button>
        <ul>
            <li><a href="#navbar-basic">Basic Usage</a></li>
            <li><a href="#navbar-sticky">Sticky Top</a></li>
            <li><a href="#navbar-controls">Leading Elements</a></li>
            <li><a href="#navbar-highlight">Highlight Item</a></li>
        </ul>
    </li>
    <li><button aria-expanded="false">Codewrapper</button>
        <ul>
            <li><a href="#codewrapper-basic">Basic usage</a></li>
            <li><a href="#codewrapper-tabs">Tabs</a></li>
            <li><a href="#codewrapper-links">Links</a></li>
        </ul>
    </li>
    <li>
        <button aria-expanded="false">Treeviews</button>
        <ul>
            <li><a href="#tree">Simple tree</a></li>
            <li><a href="#treemenu">Treemenu</a></li>
        </ul>
    </li>
 
</ul>
{% endblock %}


{% block content %}

{% include "partials/content/components/typography.html" %}
{% include "partials/content/components/tables.html" %}
{% include "partials/content/components/descrpition-list.html" %}

{# Keeping it as is in order to  #}
<section id="colors">
    <h1>Colors</h1>
    <p>Theme comes comes in color combinations consisting of 2 colors. Background color and text color.<br>
        For each color there are classes started with <code>color-*</code> indicating which color is selected:
        <table>
            <thead>
                <tr>
                    <th>Color</th>
                    <th>CSS Class</th>
                    <th>Background Color</th>
                    <th>Frontend Color</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Default</td>
                    <td>&lt;none&gt;</td>
                    <td>rgb(0,0,0)</td>
                    <td>rgb(220,217,217)</td>
                    <td><button onclick="changeColor(this)" value="white">Change</button></td>
                </tr>
                <tr>
                    <td>Green</td>
                    <td><code>.color-green</code></td>
                    <td>rgb(0,0,0)</td>
                    <td>hsl(120 56.1% 50.5%)</td>
                    <td><button onclick="changeColor(this)" value="green">Change</button></td>
                </tr>
                <tr>
                    <td>Amber</td>
                    <td><code>.color-amber</code></td>
                    <td>rgb(0,0,0)</td>
                    <td>hsl(40 70% 49.5%)</td>
                    <td><button onclick="changeColor(this)" value="amber">Change</button></td>
                </tr>
                <tr>
                    <td>Blue (DOS-Line, windows BSOD-like)</td>
                    <td><code>.color-dos</code></td>
                    <td>hsl(240 100% 33%)</td>
                    <td>rgb(0,0,0)</td>
                    <td><button onclick="changeColor(this)" value="blue">Change</button></td>
                </tr>

                <tr>
                    <td>Paper</td>
                    <td><code>.color-paper</code></td>
                    <td>hsl(40 70% 49.5%)</td>
                    <td>rgb(219,218,218)</td>
                    <td><button onclick="changeColor(this)" value="paper">Change</button></td>
                </tr>
            </tbody>
        </table>
    </p>
</section>

{% include "partials/content/components/navbar.html" %}
{% include "partials/content/components/alerts.html" %}
{% include "partials/content/components/codewrapper.html" %}
{% include "partials/content/components/tree.html" %}

{% endblock %}