{% set active_page = 'components' %}
{% extends 'base/base-sidebar-full.html' %}

{% block title %}AsciiArt Theme - Setup{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded",function(){
            console.log("Autoinit")
            AsciiartTheme.autoinit.codewrapper()
        })
    </script>
{% endblock %}

{% block sidebar %}
<ul class="treemenu">
    <li><a href="#typography">Typography</a></li>
    <li><a href="#tables">Tables</a></li>
    <li data-visible="true">
        <button aria-expanded="false">Navbar</button>
        <ul>
            <li><a href="#navbar-basic">Basic Usage</a></li>
            <li><a href="#navbar-sticky">Sticky Top</a></li>
            <li><a href="#navbar-controls">Sidebar Control</a></li>
        </ul>
    </li>
    <li><a href="#alerts">Alerts</a></li>
    <li><a href="#codewrapper">Codewrapper</a></li>
    <li><a href="#treemenu">Treemenu</a></li>
</ul>
{% endblock %}


{% block content %}
<section id="typograhpy">
<h1>Typograhpy</h1>
    <article>
        <h2>Headers</h2>
        <div class="code-wrapper">
            <pre>
                <h1>h1. Header 1</h1>
                <h2>h2. Header 2</h2>
                <h3>h3. Header 3</h3>
                <h4>h4. Header 4</h4>
                <h5>h5. Header 5</h5>
                <h6>h6. Header 6</h6>
            </pre>
        </div>
    </article>
    <article>
        <h2>Pargagraphs</h2>
        <p>Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.</p>
    </article>
    <article>
        <h2>Links</h2>
        <p>This is a normal <a href="#">link</a></p>
        <p> 
            This is a link styled as button <a href="#" class="button">link</a><br>
            Use class <code>button</code> to style it:
            <div class="code-wrapper">
                <pre><code>&lt;a href="#" class="button"&gt;link&lt;/a&gt;</code></pre>
            </div>
        </p>
    </article>
</section>

<section id="navbar">
    <h1>Navbar</h1>
    <article id="navbar-basic">
        <h2>Basic usage</h2>
        <p>Use for main navigation </p>
        <div class="nav-wrapper">
            <nav class="main-nav">
                <a href="#">Item 1</a>
                <a href="#">Item 2</a>
                <a href="#">Item 3</a>
            </nav>
        </div>
        <p>Code:</p>
        <pre class="code-wrapper">
            <div>
                <h5>HTML</h5>
                <button class="copy">COPY</button>
            </div>
            <code>
                &lt;div class="nav-wrapper"&gt;
                    &lt;nav class="main-nav"&gt;
                        &lt;a href="#"&gt;Item 1&lt;/a&gt;
                        &lt;a href="#"&gt;Item 2&lt;/a&gt;
                        &lt;a href="#"&gt;Item 3&lt;/a&gt;
                    &lt;/nav&gt;
                &lt;/div&gt;
            </code>
        </pre>
    </article>
    <article id="navbar-sticky">
        <h2>Sticky Navbar</h2>
        <p>If you want the navbar to stick on top of thew screen use <code>sticky-top</code> class:</p>
        <div class="code-wrapper">
            <div>
                <h5>HTML</h5>
                <button class="copy">COPY</button>
            </div>
            <pre>
                <code>
                    &lt;div class="nav-wrapper sticky-top"&gt;
                        &lt;nav class="main-nav"&gt;
                            &lt;a href="#"&gt;Item 1&lt;/a&gt;
                            &lt;a href="#"&gt;Item 2&lt;/a&gt;
                            &lt;a href="#"&gt;Item 3&lt;/a&gt;
                        &lt;/nav&gt;
                    &lt;/div&gt;
                </code>
            </pre>
        </div>
    </article>
    <article id="navbar-controls">
        <h2>Navbar controls</h2>
        <p>You can use <code>lead</code> class in order to place buttons or icons in front of main navigation:</p>
        <div class="nav-wrapper">
            <div class="lead"><span>*</span></div>
            <nav class="main-nav">
                <a href="#">Item 1</a>
                <a href="#">Item 2</a>
                <a href="#">Item 3</a>
            </nav>
        </div>
         <div class="code-wrapper">
            <div>
                <h5>HTML</h5>
                <button class="copy">COPY</button>
            </div>
            <pre>
                <code>
                    &lt;div class="nav-wrapper sticky-top"&gt;
                        &lt;div class="lead"&gt;
                            &lt;button&gt;*&lt;/button&gt;
                        &lt;/div&gt;
                        &lt;nav class="main-nav"&gt;
                            &lt;a href="#"&gt;Item 1&lt;/a&gt;
                            &lt;a href="#"&gt;Item 2&lt;/a&gt;
                            &lt;a href="#"&gt;Item 3&lt;/a&gt;
                        &lt;/nav&gt;
                    &lt;/div&gt;
                </code>
            </pre>
        </div>
    </article>
</section>
<section id="tables">
    <h1>Tables</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 4</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
                <td>Row 1 Data 3</td>
                <td>Row 1 Data 4</td>
            </tr>
            <tr>
                <td>Row 2 Data 1</td>
                <td>Row 2 Data 2</td>
                <td>Row 2 Data 3</td>
                <td>Row 2 Data 4</td>
            </tr>
            <tr>
                <td>Row 3 Data 1</td>
                <td>Row 3 Data 2</td>
                <td>Row 3 Data 3</td>
                <td>Row 3 Data 4</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
            <td>Footer 1</td>
            <td>Footer 2</td>
            <td>Footer 3</td>
            <td>Footer 4</td>
            </tr>
        </tfoot>
    </table>
</section>
<section id="alerts">
    <h1>Alerts</h1>
    <article>
    <h2>Alert Info</h2>
    <p>Use this to notify user about an inportant information</p>
    <div class="alert alert-info">
        <i class="icon"></i>
        Dear sir I am informing you about something....
    </div><br>
    <div class="code-wrapper">
        <div>
            <h5>HTML</h5>
            <button class="copy">COPY</button>
        </div>
        <pre>
            <code>
                &lt;div class="alert alert-info"&gt;
                    &lt;i class="icon"&gt;&lt;/i&gt;
                    Dear sir I am informing you about something....
                &lt;/div&gt;
            </code>
        </pre>
    </div>
    </article>
    <article>
        <h2>Alert Notice</h2>
        <p>Notify user about something that should be seriouly concerned or strongly to pay notice upon.</p>
        <div class="alert alert-notice">
            <i class="icon"></i>
            You must pay attention on what you are doing....
        </div><br>
        <div class="code-wrapper">
            <div>
               <h5>HTML</h5>
               <button class="copy">COPY</button>
           </div>
           <pre>
               <code>
                   &lt;div class="alert alert-notice"&gt;
                       &lt;i class="icon"&gt;&lt;/i&gt;
                       You must pay attention on what you are doing....
                   &lt;/div&gt;
               </code>
           </pre>
        </div>
    </article>
    <article>
        <h2>Alert Stop</h2>
        <p>Notify user about a prohibiting action.</p>
        <div class="alert alert-stop">
            <i class="icon"></i>
            Stop doing do this....
        </div><br>
        <div class="code-wrapper">
            <div>
               <h5>HTML</h5>
               <button class="copy">COPY</button>
            </div>
            <pre>
                <code>
                    &lt;div class="alert alert-stop"&gt;
                        &lt;i class="icon"&gt;&lt;/i&gt;
                        Stop doing do this....
                    &lt;/div&gt;
                </code>
            </pre>
        </div>
    </article>
    <article>
        <h2>Alert warning</h2>
        <p>Another way to ensure user to pay attention about something.</p>
        <div class="alert alert-warning">
            Oh snap this is serious!!
        </div><br>
        <div class="code-wrapper">
            <div>
               <h5>HTML</h5>
               <button class="copy">COPY</button>
            </div>
            <pre>
                <code>
                    &lt;div class="alert alert-warning"&gt;
                        Oh snap this is serious!!
                    &lt;/div&gt;
                </code>
            </pre>
        </div>
    </article>
    <article>
        <h2>Alert Danger</h2>
        <p>Notify user about a dangerous situation</p>
        <h3>Blinking text</h3>
        <div class="alert alert-danger">
            Oh snap this is serious!!
        </div><br>
        <div class="code-wrapper">
            <div>
               <h5>HTML</h5>
               <button class="copy">COPY</button>
            </div>
            <pre>
                <code>
                    &lt;div class="alert alert-danger"&gt;
                        Oh snap this is serious!!
                    &lt;/div&gt;
                </code>
            </pre>
        </div>
        <h3>Blinking Background</h3>
         <div class="alert alert-danger2">
            Oh snap this is serious!!
        </div><br>
        <div class="code-wrapper">
            <div>
               <h5>HTML</h5>
               <button class="copy">COPY</button>
            </div>
            <pre>
                <code>
                    &lt;div class="alert alert-danger2"&gt;
                        Oh snap this is serious!!
                    &lt;/div&gt;
                </code>
            </pre>
        </div>
    </article>
</section>

<section id="codewrapper">
    <h1>CodeWrapper</h1>
    <p>If you want to place a piece of code into your documentation use:</p>
    <div class="code-wrapper">
        <div>
            <h5>HTML</h5>
            <button class="copy">COPY</button>
        </div>
        <pre>
            <code>
                &lt;div class="code-wrapper"&gt;
    &lt;div&gt;
        &lt;h5&gt;HTML&lt;/h5&gt;
        &lt;button class="copy"&gt;COPY&lt;/button&gt;
    &lt;/div&gt;
    &lt;pre&gt;
        &lt;code&gt;
            Piece of coide here            
        &lt;/code&gt;
    &lt;/pre&gt;
&lt;/div&gt;
            </code>
        </pre>
    </div>
    <p>Once initialized then you also need to initialize the copy buttons:</p>
    <div class="code-wrapper">
        <div>
            <h5>JS</h5>
            <button class="copy">COPY</button>
        </div>
        <pre>
            <code>
                &lt;script type="application/javascript" src="/js/asciiart.min.js&gt;&lt;/script&gt;
                &lt;script&gt;
                document.addEventListener("DOMContentLoaded",function(){
                    AsciiartTheme.autoinit.codewrapper()
                })
                &lt;/script&gt;
            </code>
        </pre>
    </div>

    <p>In case of using Modules</p>
    <div class="code-wrapper">
        <div>
            <h5>JS</h5>
            <button class="copy">COPY</button>
        </div>
        <pre>
            <code>
                &lt;script type=\"module\"&gt;
                import { autoinit } from "/js/asciiart.esm.js"; 
                document.addEventListener("DOMContentLoaded",function(){
                    autoinit.codewrapper()
                })
                &lt;/script&gt;
            </code>
        </pre>
    </div>
    <p>Otherwise you can use  the <code>CodeWrapper</code> class:</p>
    <p><div class="code-wrapper">
        <div>
            <h5>JS</h5>
            <button class="copy">COPY</button>
        </div>
        <pre>
            <code>
                &lt;script type=\"module\"&gt;
                import { CodeWrapper } from "/js/asciiart.esm.js"; 
                document.addEventListener("DOMContentLoaded",function(){
                    new CodeWrapper("#mycontainer")
                })
                &lt;/script&gt;
            </code>
        </pre>
    </div>
    </p>
    <p>
    <div class="code-wrapper">
        <div>
            <h5>JS</h5>
            <button class="copy">COPY</button>
        </div>
        <pre>
            <code>
                &lt;script type="application/javascript" src="/js/asciiart.min.js&gt;&lt;/script&gt;
                &lt;script&gt;
                document.addEventListener("DOMContentLoaded",function(){
                    new AsciiartTheme.CodeWrapper("#mycontainer")
                })
                &lt;/script&gt;
            </code>
        </pre>
    </div>
    </p>

</section>

{% endblock %}