{% extends 'base/base-sidebar-full.html' %}

{% block title %}AsciiArt Theme - Setup{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="/js/asciiart.min.js"></script>
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            // Initialize the Sidebar component
            new AsciiartTheme.Sidebar("#sidebar");
            new AsciiartTheme.Treemenu(".treemenu");
        });
    </script>
{% endblock %}

{% block sidebar %}
<ul class="treemenu">
    <li><a href="">About</a></li>
    <li data-visible="true">
        <button aria-expanded="false">Layouts</button>
        <ul>
            <li><a href="#no-sidebar">No Sidebar</a></li>
            <li><a href="#full">Sidebar Full</a></li>
            <li><a href="#base-sidebar">Sidebar upon content</a></li>
        </ul>
    </li>
</ul>
{% endblock %}