{% set active_page = 'setup' %}
{% extends 'base/base-sidebar-full.html' %}

{% block title %}AsciiArt Theme - Setup{% endblock %}
{% block scripts %}

<script>
   document.addEventListener("DOMContentLoaded", () => {
      AsciiartTheme.autoinit.codewrapper();
    });   
</script>

{% endblock %}

{% block sidebar %}
<ul class="treemenu">
    <li data-visible="true">
        <button aria-expanded="false">Setup And Usage</button>
        <ul>
            <li><a href="#cdn">Using CDN</a></li>
            <li><a href="#npm">Using NPM</a></li>
        </ul>
    </li>
    <li><a href="#sass">Using SaaS</a></li>
</ul>
{% endblock %}

{% block content %}

{% include "partials/content/setup/usage.html" %}
{% include "partials/content/setup/sass.html" %}

{% endblock %}
