{% set active_page = 'setup' %}
{% extends 'base/base-sidebar-full.html' %}

{% block title %}AsciiArt Theme - Setup{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="/js/asciiart.min.js"></script>
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            // Initialize the Sidebar component
            new AsciiartTheme.Sidebar("#sidebar");
            new AsciiartTheme.Treemenu(".treemenu");
        });
    </script>
{% endblock %}

{% block sidebar %}
<ul class="treemenu">
    <li><a href="">Setup Theme</a></li>
    <li data-visible="true">
        <button aria-expanded="false">Javascript</button>
        <ul>
            <li><a href="#no-sidebar">Classic Usage</a></li>
            <li><a href="#full">Browser Module Usage</a></li>
            <li><a href="#base-sidebar">Use with webpack and similar tools</a></li>
        </ul>
    </li>
    <li data-visible="true">
        <button aria-expanded="false">Saas</button>
        <ul>
            <li><a href="#no-sidebar">Classic Usage</a></li>
            <li><a href="#full">Browser Module Usage</a></li>
            <li><a href="#base-sidebar">Use with webpack and similar tools</a></li>
        </ul>
    </li>
</ul>
{% endblock %}