@import '__pallete.scss';

@mixin color_def {
  --color-text: var(--color-fe);
  --color-link: var(--color-fe);
  
  --color-hover-bg: var(--color-fe);
  --color-hover-fe: var(--color-bg);

  --color-border: var(--color-fe);

  --head-color-bg: var(--color-fe);
  --head-color-fe: var(--color-bg)
}

:root {
    --color-bg: var(--color-white);
    --color-fe: var(--color-black);
    @include color_def()
}

.color-amber {
    --color-fe: var(--color-amber);
    @include color_def();
}

.color-green {
    --color-fe: var(--color-green);
    @include color_def();
}