article,section {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: left;
  }

  p {
    text-align: left;
  }

  * {
    width: 100%;
  }
}

@media print {
  article,section {
    margin-top: 0;
    padding: 1pt;
  }
}