{% set demoHtml %}
    {% include "pages/layouts/demos/base-sidebar.html" %}
{% endset %}

{% set css %}
<link rel="stylesheet" href="/css/style.css">
{% endset %}

{% set js %}
<script type="application/javascript" src="/js/asciiart.min.js"></script>
<script type="application/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        // Initialize the Sidebar component
        new AsciiartTheme.Sidebar("#sidebar");
    });
</script>
{% endset %}

{% set mjs %}
<script type="component">
    import { Sidebar } from "js/asciiart.esm.min.js";

    document.addEventListener("DOMContentLoaded", () => {
        // Initialize the Sidebar using ES6 module
        new Sidebar("#sidebar");
    });
</script>
{% endset %}

<section id="base-sidebar">
    <h1>Sidebar upon content</h1>
    <p>An extention of no-sidebar layout is to place underneath the main navigation a sidebar. This is usefull for placing a secondary navigation upon main content.</p>
    <p>When browser window shinks it becomes hidden allowing you to focus upon main content.</p>
    <h2>Html</h2>
    <p>Using this content you can generate the most basic html.</p>
    <div class="code-wrapper">
        <div>
            <span>HTML Code</span>
            <a href="/layouts/demos/base-sidebar.html" class="button" target="_blank">Preview</a>
            <button class="copy">Copy</button>
        </div>
        <pre><code>{{ demoHtml | escape | trim }}</code></pre>
    </div>
    <h2>CSS</h2>
    <p>As you notice you need to include the css file.</p>
    <div class="code-wrapper">
        <div><span>CSS</span><button class="copy">Copy</button></div>
        <pre><code>{{ css | escape }}</code></pre>
    </div>
    <h2>Javascript</h2>
    <p>Furthermore you need to include the theme's javascript file and initialize the sidebar.<br>To keep the theme lightweight and modular, components do not auto-initialize. You must instantiate the Sidebar manually after the DOM has loaded.</p>
    <div class="code-wrapper">
        <div><span>Javascript</span>
             <div class="tab-button-container">
                <button class="btn-tab" role="tab" aria-selected="true" aria-controls="#base-sidebar-js">JS</button>
                <button class="btn-tab" role="tab" aria-controls="#base-sidebar-esm">ESM</button>
            </div>
            <button class="copy">Copy</button>
        </div>
        <pre id="base-sidebar-js"><code>{{ js | escape }}</code></pre>
        <pre id="base-sidebar-esm"><code>{{ mjs | escape }}</code></pre>
    </div>
</section>