{% set demoHtml %}
    {% include "pages/layouts/demos/no-sidebar.html" %}
{% endset %}

{% set css %}
<link rel="stylesheet" href="css/style.css">
{% endset %}

<section id="no-sidebar">
    <h1>No sidebar</h1>
    <p>A minimalist, single-column layout focused entirely on content. Ideal for landing pages, simple articles, or documentation where a sidebar is unnecessary.</p>
    <h2>Html Example</h2>
    <p>Using this content you can generate the most basic html.</p>
    <div class="code-wrapper">
        <div>
            <span>HTML Code</span>
            <a href="/layouts/demos/no-sidebar.html" class="button" target="_blank">Preview</a>
            <button class="copy">Copy</button>
        </div>
        <pre><code>{{ demoHtml | escape | trim }}</code></pre>
    </div>
    <p>As you notice you need to include the css file. No javascript required.</p>
    <div class="code-wrapper">
        <div><span>CSS</span><button class="copy">Copy</button></div>
        <pre><code>{{ css | escape }}</code></pre>
    </div>
</section>