{% set demoHtml %}
    {% include "pages/layouts/demos/no-sidebar.html" %}
{% endset %}

{% set css %}
<link rel="stylesheet" href="css/style.css">
{% endset %}

<section id="no-sidebar">
    <h1>No sidebar</h1>
    <p>This is the most basic layout containing a basic header,navigation and content. No bells no whistles.</p>
    <h2>Html Example</h2>
    <p>Using this content you can generate the most basic html.</p>
    <div class="code-wrapper">
        <div>
            <h5>HTML Code</h5>
            <a href="/layouts/demos/no-sidebar.html" class="button" target="_blank">Preview</a>
            <button class="copy">Copy</button>
        </div>
        <pre><code>{{ demoHtml | escape | trim }}</code></pre>
    </div>
    <p>As you notice you need to include the css file. No javascript required.</p>
    <div class="code-wrapper">
        <div><h5>CSS</h5><button class="copy">Copy</button></div>
        <pre><code>{{ css | escape }}</code></pre>
    </div>
</section>