{% set demoHtml %}
    {% include "pages/layouts/demos/sidebar-full.html" %}
{% endset %}

{% set js %}
<script src="/js/asciiart.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // Initialize the Sidebar component
        new AsciiartTheme.Sidebar("#sidebar");
    });
</script>
{% endset %}

{% set mjs %}
<script type="component">
    import { Sidebar } from "js/asciiart.esm.min.js";

    document.addEventListener("DOMContentLoaded", () => {
        // Initialize the Sidebar using ES6 module
        new Sidebar("#sidebar");
    });
</script>
{% endset %}

{% set css %}
<link rel="stylesheet" href="css/style.css">
{% endset %}

<section id="full">
    <h1>Sidebar Full Layout</h1>
    <p>
        A comprehensive 'Application-style' layout. The sidebar occupies the full height of the viewport on the left, while the navigation and content scale responsively on the right.
    </p>
    <p>
        Upon small screen or upon window resizing sidebar moves offcanvas allowing the user to focus on content.
    </p>
    <h2>HTML Example</h2>
    <div class="code-wrapper">
        <div>
            <span>HTML Code</span>
            <a href="/layouts/demos/sidebar-full.html" class="button" target="_blank">Preview</a>
            <button class="copy">Copy</button>
        </div>
        <pre><code>{{ demoHtml | escape }}</code></pre>
    </div>
    <h2>CSS</h2>
    <p>
        To use this layout, first include the theme's CSS:
    </p>
    <div class="code-wrapper">
        <div><span>CSS</span><button class="copy">Copy</button></div>
        <pre><code>{{ css | escape }}</code></pre>
    </div>
    <h2>Javascript</h2>
    <p>
        To keep the theme lightweight and modular, components do not auto-initialize. You must instantiate the Sidebar manually after the DOM has loaded:
    </p>
    <div class="code-wrapper">
        <div><span>JavaScript</span>
            <div class="tab-button-container">
                <button class="btn-tab" role="tab" aria-selected="true" aria-controls="js">JS</button>
                <button class="btn-tab" role="tab" aria-controls="esm">ESM</button>
            </div>
            <button class="copy">Copy</button>
        </div>
        <pre id="js"><code>{{ js | escape }}</code></pre>
        <pre id="esm"><code>{{ mjs | escape }}</code></pre>
    </div>

</section>