{% set demoHtml %}
    {% include "pages/layouts/demos/sidebar-full.html" %}
{% endset %}

{% set js %}
<script type="application/javascript" src="/js/asciiart.min.js"></script>
<script type="application/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        // Initialize the Sidebar component
        new AsciiartTheme.Sidebar("#sidebar");
    });
</script>
{% endset %}

{% set mjs %}
<script type="component">
    import { Sidebar } from "js/asciiart.esm.min.js";

    document.addEventListener("DOMContentLoaded", () => {
        // Initialize the Sidebar using ES6 module
        new Sidebar("#sidebar");
    });
</script>
{% endset %}

{% set css %}
<link rel="stylesheet" href="css/style.css">
{% endset %}

<section id="full">
    <h1>Sidebar Full Layout</h1>
    <p>
        A comprehensive 'Application-style' layout. The sidebar occupies the full height of the viewport on the left, while the navigation and content scale responsively on the right.
    </p>
    <p>
        Upon small screen or upon window resizing sidebar moves offcanvas allowing the user to focus on content.
    </p>
    <h2>HTML Example</h2>
    <div class="code-wrapper">
        <div>
            <h5>HTML Code</h5>
            <a href="/layouts/demos/sidebar-full.html" class="button" target="_blank">Preview</a>
            <button class="copy">Copy</button>
        </div>
        <pre><code>{{ demoHtml | escape }}</code></pre>
    </div>

    <p>
        To use this layout, first include the theme's CSS:
    </p>
    <div class="code-wrapper">
        <div><h5>CSS</h5><button class="copy">Copy</button></div>
        <pre><code>{{ css | escape }}</code></pre>
    </div>

    <p>
        To keep the theme lightweight and modular, components do not auto-initialize. You must instantiate the Sidebar manually after the DOM has loaded:
    </p>
    <div class="code-wrapper">
        <div><h5>JavaScript</h5><button class="copy">Copy</button></div>
        <pre><code>{{ js | escape }}</code></pre>
    </div>

    <p>
        Alternatively, you can use an ES6 module to import and initialize the Sidebar component:
    </p>
    <div class="code-wrapper">
        <div><h5>ES6 Module</h5><button class="copy">Copy</button></div>
        <pre><code>{{ mjs | escape }}</code></pre>
    </div>
</section>