<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aciiiart Theme Demo</title>

  <!-- SCSS compiled CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/asciiart.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      new AsciiartTheme.Sidebar("#sidebar");
    });      
  </script>
  {% block scripts %}{% endblock %}
</head>
<body>
  <div class="top-left-responsive">
     <button 
        class="button-expand button-toggle" 
        aria-controls="#sidebar"
      ></button>
  </div>

  <header>
    {% block header %}
    {% endblock %}
  </header>

  <div class="nav-wrapper sticky-top">
    {% block main_nav %}{% endblock %}
  </div>

  <div class="sidebar-layout">
    <div class="aside-wrapper" id="sidebar">
      <button class="button-close" aria-controls="sidebar"  aria-hidden="true"></button>
      <aside>
        <nav aria-label="Sidebar navigation">
            {% block sidebar %}{% endblock %}
        </nav>
      </aside>
    </div>

    <div class="main-wrapper">
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
</body>
</html>