{% set baseUrl = "/" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Default Title{% endblock %}</title>

  <!-- SCSS compiled CSS -->
  <link rel="stylesheet" href="{{baseUrl}}css/style.css">
  <script src="{{baseUrl}}js/asciiart.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      new AsciiartTheme.Sidebar("#sidebar");
    });      
  </script>
  {% block scripts %}{% endblock %}
</head>
<body class="sidebar-layout">
  
  <div id="sidebar" class="aside-wrapper-fullheight bellow-nav">
    <button class="button-close" aria-controls="#sidebar"></button>
    {% block header %}{% endblock %}

    <aside>
      <nav aria-label="Sidebar navigation">
        {% block sidebar %}{% endblock %}
      </nav>
    </aside>

    {% block footer %}{% endblock %}
  </div>

  <div class="main-wrapper">
    <div class="nav-wrapper sticky-top">
        <div class="lead">
          <button
            class="button-expand button-toggle" 
            aria-controls="#sidebar"
          ></button>
        </div>
        {% include '../../partials/main-nav.html' %}
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>
  </div>
</body>
</html>