{% set active_page = 'layouts' %}
{% extends 'base/base-sidebar-full.html' %}

{% block title %}AsciiArt Theme - Layout Documentation{% endblock %}


{% block sidebar %}
<ul class="treemenu">
    <li><a href="">About</a></li>
    <li data-visible="true">
        <button aria-expanded="false">Layouts</button>
        <ul>
            <li><a href="#no-sidebar">No Sidebar</a></li>
            <li><a href="#full">Sidebar Full</a></li>
            <li><a href="#base-sidebar">Sidebar upon content</a></li>
        </ul>
    </li>
</ul>
{% endblock %}


{% block content %}

<section id="about">
    <h1>About</h1>
    <p>
        The AsciiArt theme supports three primary layouts:
    </p>
    <ul>
        <li>No Sidebar <a href="/layouts/demos/no-sidebar.html" class="button" target="_blank">Demo</a></li>
        <li>Sidebar Full – Sidebar with header upon aside. <a href="/layouts/demos/sidebar-full.html" class="button" target="_blank">Demo</a></li>
        <li>Sidebar upon content <a href="/layouts/demos/base-sidebar.html" class="button" target="_blank">Demo</a></li>
    </ul>
</section>

{% include "partials/content/layouts/no-sidebar.html" %}
{% include "partials/content/layouts/sidebar-full.html" %}
{% include "partials/content/layouts/base-sidebar.html" %}

{% endblock %}