{% extends 'base/base-sidebar-full.html' %}

{% block title %}AsciiArt Theme - Layout Documentation{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="/js/asciiart.min.js"></script>
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            // Initialize the Sidebar component
            new AsciiartTheme.Sidebar("#sidebar");
        });
    </script>
{% endblock %}

{% block sidebar %}
<ul class="treemenu">
    <li><a href="">About</a></li>
    <li data-visible="true">
        <button aria-expanded="false">Layouts</button>
        <ul>
            <li><a href="#">No Sidebar</a></li>
            <li><a href="#full">Sidebar Full</a></li>
            <li><a href="#">Sidebar upon content</a></li>
        </ul>
    </li>
</ul>
{% endblock %}


{% block content %}

<section id="about">
    <h1>About</h1>
    <p>
        The AsciiArt theme supports three primary layouts:
    </p>
    <ul>
        <li>No Sidebar</li>
        <li>Sidebar Full – Sidebar with header upon aside</li>
        <li>Sidebar upon content</li>
    </ul>
</section>

{% include "pages/layouts/content/sidebar-full.html" %}

{% endblock %}