{% set cdn_setup_clasic %}
<link rel="stylesheet" href="https://unpkg.com/@pc_magas/asciiart/dist/css/style.css"/>

<script src="https://unpkg.com/@pc_magas/asciiart/dist/js/asciiart.min.js"></script>
<!-- initialize stuff here -->
{% endset %}

{% set cdn_setup_esm %}
<link rel="stylesheet" href="https://unpkg.com/@pc_magas/asciiart/dist/css/style.css"/>

<script type="module">

import {autoinit} from "https://unpkg.com/@pc_magas/asciiart/dist/js/asciiart.esm.min.js"
// Look upon /components.html on how each module can be initialized
</script>
{% endset %}

{% set npm_usage_classic %}

<!-- you can copy these files into any other directory if desired I assume node_modules is in final website-->
<link rel="stylesheet" href="./node_modules/@pc_magas/asciiart/dist/asciiart.css"/>

<script src="./node_modules/@pc_magas/asciiart/dist/asciiart.min.js"></script>
{% endset %}


{% set npm_usage_esm %}
<!-- you can copy these files into any other directory if desired I assume node_modules is in final website-->
<link rel="stylesheet" href="/node_modules/@pc_magas/asciiart/dist/asciiart.css"/>
<script type="module" src="">
    import {autoinit} from "/node_modules/@pc_magas/asciiart/dist/asciiart.esm.min.js"
    // Look upon /components.html on how each module can be initialized
</script>
{% endset %}

{% set npm_usage_import %}
    import {autoinit} from @pc_magas/asciiart
    // Init here look modules.html for more info
{% endset %}

<section id="setup">
    <h1>Setup And Usage</h1>
    <p>Theme ships both UJS and css using a CDN. Either classic or browser module supported:</p>
    <article  id="cdn">
        <h2>Using CDN</h2>
        <div class="code-wrapper">
            <div>
                <h5>Html</h5>
                <div class="tab-button-container">
                    <button class="btn-tab" aria-selected="true" aria-controls="#cdn-setup-classic">Classic</button>
                    <button class="btn-tab" aria-controls="#cdn-setup-module">Browser Module</button>
                </div>
                <button class="btn-copy">COPY</button>
            </div>
            <pre id="cdn-setup-classic"><code> {{cdn_setup_clasic|escape|trim}}</code></pre>
            <pre id="cdn-setup-module"><code>{{cdn_setup_esm|escape|trim }} </code></pre>
        </div>
    </article>
    <article id="npm">
        <h2>Using Npm</h2>
        <p>Theme is also shipped via NPM so you can import and use it into your own project as well:</p>
        <div class="code-wrapper">
            <div>
                <h5>Console</h5>
            </div>
            <pre><code>npm install @pc_magas/asciiart</code></pre>
        </div>
        <h3>Javascript Usage</h3>
        <p>After installing the package you can import the minified javascript directly into youer html:</p>
        <div class="code-wrapper">
            <div>
                <h5>JS/HTML</h5>
                <div class="tab-button-container">
                    <button class="btn-tab" aria-selected="true" aria-controls="#npm-use-classic">Classic</button>
                    <button class="btn-tab" aria-controls="#npm-use-module">Browser Module</button>
                </div>
                <button class="btn-copy">COPY</button>
            </div>
            <pre id="npm-use-classic"><code>{{ npm_usage_classic|escape|trim }}</code></pre>
            <pre id="npm-use-module"><code>{{ npm_usage_esm|escape|trim }}</code></pre>
        </div>
        <p>Or use a bundler instead:</p>
        <div class="code-wrapper">
            <div>
                <h5>JS</h5>
                <button class="btn-copy">COPY</button>
            </div>
            <pre><code>{{npm_usage_import|escape|trim}}</code></pre>
        </div>
        <p>Css is loaded upon Html using a <code>&lt;link&gt;</code> tag:</p>
        <div class="code-wrapper">
            <div>
                <h5>HTML/CSS</h5>
                <button class="btn-copy">COPY</button>
            </div>
            <pre><code>&lt;link rel="stylesheet" href="./node_modules/@pc_magas/asciiart/dist/asciiart.css"/ &gt;</code></pre>
        </div>
    </article>
</section>
