@use './color/_color';

html {
  margin: 0;
  min-width: 100%;
  min-height: 100%;

  letter-spacing: 0.02em;
  
  /* Optional: Subtle CRT glow */
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Fira Code", "Consolas", "Courier New", monospace;
  color: var(--color-text);
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: var(--color-link);
  font-weight: bold;
}

hr {
  border-top: 1px dashed var(--color-border);
  border-bottom: none;
}

footer {
  height:5vh;
  text-align: center;
  padding: 3px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px dashed;
  margin-top: 10px;
}


::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
 
::-webkit-scrollbar-track {
    background-color: --color-scrollbar-track;
}
 
::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
}

* {
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
    scrollbar-width: thin; 
}

iframe {
  border: 1px dashed var(--color-border);
}

var, code {
  background-color: var(--color-fe);
  color: var(--color-bg);
  padding: 3px;
}

dl {
  margin: 5px;

  &.desc-columns {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: start;

    dt {
            grid-column: 1;
    }
    dd {
      grid-column: 2;
    }
  }

  dd {
    margin-bottom: 0.5rem;
  }

  dt {
    margin-bottom: 2px;
  }
}