main {
  width:80%;
  margin: auto;
}

.sidebar-layout {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:stretch;
  margin-top: 3px;
  height: 100vh;
  
  .main-wrapper {
    width: auto !important;
    margin: 1px !important;
    height: 100%;
    overflow-y: scroll;
  }

  .aside-wrapper {
    width:40%;
    padding: 1px;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    
    aside {
      flex-grow:3;
    }

    footer {
      padding: 0;
      align-self: flex-end;
    }
  }
}