@use './color/_color';
@use './__var' as var;

:root {
  --md-width: #{var.$breakpoint-md};
}

main {
  width:80%;
  margin: auto;
  margin-bottom: 0.5rem;
  @media screen and (max-width: var.$breakpoint-sm) {
    & {
      width: 98vw;
      padding-left: 3px;
      padding-right: 3px;
    }
  }

   @media screen and (max-width: var.$breakpoint-xs) {
    & {
      width: 85vw;  
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@mixin sidebar_common(){
  float:left;
  padding: 1px;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 40%;

  .banner {
    font-size: 0.6rem;
  }

  aside {
    flex-grow:3;
    overflow-y: scroll;
    align-self: stretch;
  }
  
  footer {
    padding: 0;
    padding-top:2px;
    padding-bottom: 2px;
    align-self: flex-end;
    font-size: 0.8rem;
  }

  .button-close {
    display: none;
  }

  @media print {
    display: none;
  }
}

@mixin sidebar_offcanvas() {
  display: none;
  position: fixed;
  left: 0;
  z-index: 999999;
  width: 40%;
  background-color: var(--color-bg);
  padding: 1px;
  overflow-y: scroll;
  bottom:0;
  
  .button-close {
    display: block;
  }

  .banner {
    font-size: 0.8rem;
  }

}

@mixin sidebar_offcanvas_sm(){
  border: none;
  overflow-y: scroll;
  min-width: 100%;
  .banner {
    font-size: 1rem;
  }
}

body.sidebar-layout {
  overflow-y: hidden;
}

.sidebar-layout {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:stretch;
  margin-top: 3px;
  height: 100vh;

  .aside-wrapper-fullheight {
    @include sidebar_common();

    &[data-visible="false"]{
      display: none;
    }

    @media screen and (max-width: var.$breakpoint-md) {
      @include sidebar_offcanvas();
      border-right: 2px dashed var(--color-fe);

      &[data-visible="false"] {
        display: none !important;
      }

      &[data-visible="true"]{
        display: flex !important;
      }
    }

    @media screen and (max-width: var.$breakpoint-sm) {
      @include sidebar_offcanvas_sm();
    }
  }

  .aside-wrapper {
    @include sidebar_common();
    

    @media screen and (max-width: var.$breakpoint-md) {
      @include sidebar_offcanvas();
      border: 2px dashed var(--color-fe);
      top:0;

      &[data-visible="false"]{
        display: none;
      }

      &[data-visible="true"]{
        display: flex;
      }
    }
    
    @media screen and (max-width: var.$breakpoint-sm) {
      @include sidebar_offcanvas_sm();
    }
  }


  .sidebar-btn {
    position:absolute;
    top:5px;
    width: 50px;
    height: 50px;
    border: 1px dashed;

    button {
      width: 50px;
      height: 50px;
    }

    @media screen and (min-width: var.$breakpoint-md) {
      & {
        display: none;
      }
    }

    @media screen and (max-width: var.$breakpoint-sm) {
      & {
        right:10px;
      }
    }
  }

  &:has(.sidebar-btn) {
    @media screen and (min-width: var.$breakpoint-sm) {
      .main-wrapper {
        margin-top: 60px !important;
      }
    }
  }
}

.main-wrapper {
    float: right;
    width: auto !important;
    margin: 1px !important;
    height: 100%;
    overflow-y: scroll;
    flex-grow: 4;
    min-width: 80vw;
    @media screen and (max-width: var.$breakpoint-md) {
      & {
        width: 98%;
      }
    }
}

.top-left-responsive {
  display: none;
  position: sticky;
  width: 3rem;
  height: 3rem;
  font-size: 2rem !important;
  border: 1px dashed;
  top:0;
  left:0;
  
  @media screen and (max-width:var.$breakpoint-md) {
    & {
      display:flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: var.$breakpoint-sm) {
  .sidebar-layout {
    .aside-wrapper {
     width: 100%;
    }

    .main-wrapper {
      width: 100%;
    }
  }
}

@media print {
  .sidebar-layout {
    height: 100%;
    color: var(--color-bg);

    .main-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  main {
    width: 100%;
  }
}