$breakpoint-md: 1700px;
$breakpoint-sm: 700px;
$breakpoint-xs: 600px;
$breakpoint-xxs: 450px;

$color-black:rgb(0,0,0);
$color-white:rgb(220,217,217);
$color-white-print:#fff;
$color-amber: hsl(40 70% 49.5%);
$color-green: hsl(120 56.1% 50.5%);
$color-blue:hsl(240 100% 33%);
$color-light-gray: #EFEFEF