$color-bg: #000000;
$color-fe: #ffffff;

$color-text: $color-fe;
$color-link: $color-fe;

$color-hover-bg: $color-fe;
$color-hover-fe: $color-bg;

$color-border: $color-fe;
$color-link: $color-fe;

body {
  width: 100%;
  font-family: "Fira Code", "Consolas", "Courier New", monospace;
  color: $color-text;
  background-color: $color-bg;
}

.banner {
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: center;

  width: 100vw;
  border: 1px dashed $color-border;
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;  
    li {
      display: inline-block;
      padding: 1em;
      &:hover {
        background-color: $color-hover-bg;
        * {
          color: $color-hover-fe;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: $color-link;
    font-weight: bold;
  }
}