



<section id="no-sidebar">
    <h1>No sidebar</h1>
    <p>This is the most basic layout containing a basic header,navigation and content. No bells no whistles.</p>
    <h2>Html Example</h2>
    <p>Using this content you can generate the most basic html.</p>
    <div class="code-wrapper">
        <div>
            <h5>HTML Code</h5>
            <a href="/layouts/demos/no-sidebar.html" class="button" target="_blank">Preview</a>
            <button class="copy">Copy</button>
        </div>
        <pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
  &lt;title&gt;AsciiArt Theme - No sidebar demo&lt;/title&gt;

  &lt;!-- SCSS compiled CSS --&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;css/style.css&quot;&gt;
  
&lt;/head&gt;
&lt;body&gt;
  &lt;header&gt;
    &lt;div class=&quot;banner&quot;&gt;
      &lt;pre&gt;
  ___           _ _  ___       _   
 / _ &#92;         (_|_)/ _ &#92;     | |  
/ /_&#92; &#92;___  ___ _ _/ /_&#92; &#92;_ __| |_ 
|  _  / __|/ __| | |  _  | &#39;__| __|
| | | &#92;__ &#92; (__| | | | | | |  | |_ 
&#92;_| |_/___/&#92;___|_|_&#92;_| |_/_|   &#92;__|
      &lt;/pre&gt;
    &lt;/div&gt;

    &lt;nav class=&quot;main-nav&quot;&gt;
  &lt;a href=&quot;/&quot;&gt;Index&lt;/a&gt;
  &lt;a href=&quot;/ssetup&quot;&gt;Setup&lt;/a&gt;
  &lt;a href=&quot;/layouts&quot;&gt;Layouts&lt;/a&gt;
  &lt;a href=&quot;/components&quot;&gt;Components&lt;/a&gt;
&lt;/nav&gt;
  &lt;/header&gt;

  &lt;main&gt;
    
    &lt;!-- Main content place text, forms or anything else here --&gt;
    &lt;section&gt;
    &lt;h1&gt;Acticle 1&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h1&gt;Acticle 2&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h1&gt;Acticle 3&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;


&lt;section&gt;
    &lt;h1&gt;Acticle 4&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h1&gt;Acticle 5&lt;/h1&gt;
    &lt;p&gt;Conubia donec, velit dictumst interdum. Per quisque adipiscing, habitasse litora sed id. Varius porttitor aliquet, placerat erat, quam vulputate viverra eros nec gravida. Magna interdum nostra euismod, arcu enim consectetur primis duis. Habitant eu mi porta, curabitur sit sollicitudin, convallis dui metus leo nibh erat aenean sed. Egestas massa nulla turpis, imperdiet vivamus curabitur, dictum lacinia vulputate dictumst nullam luctus placerat molestie.&lt;/p&gt;
&lt;/section&gt;

  &lt;/main&gt;

  &lt;footer&gt;
    &lt;p&gt;
      Copyright Desyllas Dimitrios
    &lt;/p&gt;
  &lt;/footer&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
    </div>
    <p>As you notice you need to include the css file. No javascript required.</p>
    <div class="code-wrapper">
        <div><h5>CSS</h5><button class="copy">Copy</button></div>
        <pre><code>
&lt;link rel=&quot;stylesheet&quot; href=&quot;css/style.css&quot;&gt;
</code></pre>
    </div>
</section>